<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View 3</title>
</head>
<body>
    <a th:href="@{/search}">Back</a><br><br>

    <table style="border: solid;" th:object="${details}">
        <tr>
            <th style="border: solid;">Id</th>
            <td colspan="2" style="border: solid;" th:text="*{accomodationId}"></td>
        </tr>
        <tr>
            <th style="border: solid;">Description</th>
            <td style="border: solid;" th:text="*{description}"></td>
            <td style="border: solid;">
                <img th:src="*{image}" height="100px" width="85px">
            </td>
        </tr>
        <tr>
            <th style="border: solid;">Address</th>
            <td colspan="2" style="border: solid;">
                <p th:text="*{addressStreet}"></p>
                <p th:text="*{addressSuburb}"></p>
                <p th:text="*{addressCountry}"></p>
            </td>
        </tr>
        <tr>
            <th style="border: solid;">Price</th>
            <td colspan="2" style="border: solid;" th:text="*{price}"></td>
        </tr>
        <tr>
            <th style="border: solid;">Amenities</th>
            <td colspan="2" style="border: solid;" th:text="*{amenities}"></td>
        </tr>
    </table>

    <h1>Bookings</h1>
    <form th:action="@{/listing/book/{id} (id = ${details.accomodationId})}" method="post">
        <div>
            <label for="username">Name:</label>
            <input type="text" id="username" name="username" placeholder="Your name" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Your email" required>
        </div>
        <div>
            <label for="arrival">Arrival:</label>
            <input type="date" id="arrival" name="arrival" required>
        </div>
        <div>
            <label for="stay">Stay:</label>
            <input type="number" id="stay" name="stay" required min="1">days
        </div>
        <br>
        <button type="submit">Book</button><br>
        <p style="color: red;" th:if="${error}" th:text="${error}"></p>
    </form>
</body>
</html>